<section id="intro-section" class="home-intro-section">
  <h1>Cene najpopularnijih kriptovaluta na globalnom trzistu</h1>

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="mat-elevation-z8" >
<table style="width: 100%;" mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Sym </th>
    <td mat-cell *matCellDef="let coin"> {{ coin.symbol }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Ime </th>
    <td mat-cell *matCellDef="let coin"> {{ coin.name }} </td>
  </ng-container>

  <ng-container matColumnDef="marketPrice">
    <th mat-header-cell *matHeaderCellDef> Cena </th>
    <td mat-cell *matCellDef="let coin"> {{ coin.marketPrice }} $ </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

</section>