<section id="intro-section" class="home-intro-section">
    <h1>Oglasi za prodaju</h1>

&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="mat-elevation-z8" >
  <table style="width: 100%;" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="coin">
      <th mat-header-cell *matHeaderCellDef> Coin </th>
      <td mat-cell *matCellDef="let ad"> {{ ad.coin.symbol }} </td>
    </ng-container>

    <ng-container matColumnDef="kolicina">
      <th mat-header-cell *matHeaderCellDef> Kolicina </th>
      <td mat-cell *matCellDef="let ad"> {{ ad.cryptoCurrencyAmount }} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> Cena </th>
      <td mat-cell *matCellDef="let ad"> {{ ad.price }} $ </td>
    </ng-container>
    <ng-container matColumnDef="prodavac">
      <th mat-header-cell *matHeaderCellDef> Prodavac </th>
      <td mat-cell *matCellDef="let ad"> {{ ad.advertiser.userName }} </td>
    </ng-container>

    <ng-container matColumnDef="Kupi">
      <th mat-header-cell *matHeaderCellDef> Kupi </th>
      <td mat-cell *matCellDef="let ad"> <button
        mat-button
        color="warn"
        (click)="deleteData(pollution, $event)"> Kupi </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

</section>